:root {
  --sw-background-color: #000000;
  --sw-medium-background-color: #121212;
  --sw-light-background-color: #242424;
  --sw-lighter-background-color: #363636;
  --sw-font-color: #ffffff;
  --sw-light-font-color: #cccccc;
  --sw-font-color-error: #a94442;
  --sw-font-family: Consolas, monaco, monospace;
  --sw-font-size: 62.5%; // such that 1rem == 10px
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sw-background-color);
  color: var(--sw-font-color);
}

html {
  font-size: var(--sw-font-size);
}

body {
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  font-family: var(--sw-font-family);
}

body.loading {
  background-image: url(../../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.simple-layout {
  display: block;
  flex-grow: 1;
  padding: 5px;
  position: relative;
}

.control {
  width: 48%;
  height: 40px;
  padding: 2px;
}

.playerview {
  width: 33%;
  padding: 2px;
  display: inline-block;
}

.player {
  --sc-button-background-color-selected: rgb(191, 191, 191);
}

.params {
  width: 63%;
  height: 40px;
  margin: 5px 0 0 0;
}

.paramtext {
  width: 35%;
  height: 40px;
  margin: 5px 0 0 0;
}

#waveform {
  width: 100%;
  height: 300px;
  --sc-waveform-color: white;
  --sc-waveform-cursor-color: red;
  transition: inherit 2s;
  border-width: 1px;
  border-color: white;
}

#sampleSelect {
  width: 100%;
  height: 30px;
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(255, 255, 255, 0.836);
}
// default styles for controller layout
.controller-layout {
  display: block;
  flex-grow: 1;
  position: relative;

  & > header {
    display: block;
    height: 38px;
    line-height: 38px;
    background-color: var(--sw-medium-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--sw-lighter-background-color);

    h1 {
      font-size: 12px;
      margin: 0;
      padding-left: 20px;
      max-width: 50%;
      overflow: hidden;
    }

    sc-audit {
      max-width: 50%;
    }
  }

  & > section {
    padding: 20px;
  }
}
